<br>
<hr>
<h2 class="tit"> LISTADO DE PERSONAS</h2>
<hr>
<br>
<div>
  <div class="row">
    <div class="col-6">
      <button class="boton nuevo" (click)="openPopup()"> +NUEVA PERSONA</button>
      <br>
    </div>
    <div class="col-6">
      <div class="input-group">
        <div>
          <input type="search" id="form1" class="form-control" style="margin-left:200px ;"
            placeholder="Buscar Usuario" />
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped" style="position: absolute;">
  <thead>
    <tr>

      <th>Cedula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of Personas">
      <td>{{persona.cedula}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>
      <td>{{persona.telefono}}</td>
      <td>{{persona.email}}</td>
      <td><button type="button" style="border: transparent;background-color: transparent;" (click)="openPopup2()"><img
            src="assets\img\editar.png" alt="" style="width:30px;height:30px;"></button></td>
      <td><button type="button" style="border: transparent;background-color: transparent;" (click)="openPopup3()"><img
            src="assets\img\cubo-de-basura.png" alt="" style="width:30px;height:30px;"></button></td>



    </tr>

  </tbody>
</table>
<img src="assets\img\logoista_opaco.png"
  style="height: 60%;width: 25%; margin-top:30px ;margin-left: 25px; position: relative;">










<div class="modal" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div>
    <div class="crear">
      <form ngNavigateValidate (ngSubmit)="create()">
        <h3 class="titulo"> Nueva Persona </h3>
        <br>
        <img src="assets\img\user_icon-icons.com_66546.png" class="cara">
        <br>
        <label class="cedula1">Cedula:</label>
        <input type="text" placeholder="Cedula" class="inputCedula1" [(ngModel)]="Persona.cedula" name="cedula">

        <label class="Nombre1">Nombre:</label>
        <input type="text" placeholder="Nombre" class="inputNombre1" [(ngModel)]="Persona.nombre" name="nombre">

        <label class="Apellido1">Apellido:</label>
        <input type="text" placeholder="Apellido" class="inputApellido1" [(ngModel)]="Persona.apellido" name="apellido">

        <label class="Direccion1">Telefono:</label>
        <input type="text" placeholder="Telefono" class="inputDireccion1" [(ngModel)]="Persona.telefono"
          name="telefono">

        <label class="Correo1">Correo:</label>
        <input type="text" placeholder="Correo" class="inputCorreo1" [(ngModel)]="Persona.email" name="email">



        <button class="aceptar" (click)="openPopup4()">ACEPTAR</button>
        <button class="cancelar" (click)="closePopup()">CANCELAR</button>





      </form>
    </div>
  </div>


</div>








<div class="modal" role="dialog" [ngStyle]="{'display':displayStyle2}">
  <div>
    <div class="editar">
      <form ngNavigateValidate (ngSubmit)="Editar()">
        <h3 class="titulo"> Editar Persona </h3>
        <br>
        <img src="assets\img\user_icon-icons.com_66546.png" class="cara">
        <br>

        <label class="idpersona1">Id:</label>
        <input type="text" placeholder="ID" class="inputId1" [(ngModel)]="Persona.idpersona" name="idpersona">


        <label class="cedula1">Cedula:</label>
        <input type="text" placeholder="Cedula" class="inputCedula1" [(ngModel)]="Persona.cedula" name="cedula">

        <label class="Nombre1">Nombre:</label>
        <input type="text" placeholder="Nombre" class="inputNombre1" [(ngModel)]="Persona.nombre" name="nombre">

        <label class="Apellido1">Apellido:</label>
        <input type="text" placeholder="Apellido" class="inputApellido1" [(ngModel)]="Persona.apellido" name="apellido">

        <label class="Direccion1">Telefono:</label>
        <input type="text" placeholder="Telefono" class="inputDireccion1" [(ngModel)]="Persona.telefono"
          name="telefono">

        <label class="Correo1">Correo:</label>
        <input type="text" placeholder="Correo" class="inputCorreo1" [(ngModel)]="Persona.email" name="email">



        <button class="aceptarEditar" (click)="openPopup4()">ACEPTAR</button>
        <button class="cancelarEditar" (click)="closePopup2()">CANCELAR</button>





      </form>
    </div>
  </div>


</div>



















<div class="modal" role="dialog" style="margin-top:300px ;margin-left: 350px ;" [ngStyle]="{'display':displayStyle3}">
  <div>

    <div class="eliminar">
      <br>
      <img src="assets\img\018-advertencia.png" class="advertencia">
      <br>

      <h3 class="seguro">¿Está seguro que desea eliminar esta persona?</h3>
      <form ngNavigateValidate (ngSubmi2t)="eliminar()">
        <div>
          <div>
            <input type="text" class="inputEliminarCod" placeholder="Codigo" [(ngModel)]="Persona.idpersona"
              name="idpersona" required>
          </div>
        </div>
        <br>

        <button class="eliminarbtn" role="button" (click)="recargar()">ELIMINAR</button>



      </form>
      <button class="cancelar2" (click)="closePopup3()">CANCELAR</button>


    </div>
  </div>
</div>



<div class="modal" role="dialog" style="margin-top:300px ;margin-left: 350px ;" [ngStyle]="{'display':displayStyle4}">
  <div>
    <div class="confirmarGuardado">
      <br>
      <img src="assets\img\018-advertencia.png" class="advertencia2">

      <h3 class="seguro1">¿Está seguro de guardar los datos?</h3>

      <button class="confirmar" (click)="closePopup4()" (click)="closePopup()" (click)="recargar()"
        role="button">CONFIRMAR</button>
      <button class="cancelarSeguro" (click)="closePopup4()">CANCELAR</button>
    </div>
  </div>
</div>